body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 85px;
  margin: 0;
  padding: 0;
  background: #FDFDFB;
}

.logo {
  position: absolute;
  left: 292px;
  top: 26px;
  margin: 0;
  padding: 0;

}

.main_nav {
  display: block;
  position: absolute;
  height: 30px;
  left: 30%;
  right: 30%;
  top: 32%;
  margin-left: 130px;
  padding: 0;
  font-size: 13px;
}

.nav_src {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  position: relative;
  left: 0;
  padding: 13px 40px 5px 2px;
  color: #555248;
}

.mini_nav {
  position: absolute;
  height: 30px;
  right: 19%;
  top: 21%;
  transform: translateY(-50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.mini_nav_src {
  width: 16px;
  margin: 8px;
}

/* ===================== end of header        ===================== */

.introduction{
  background-color: #FDFDFB;
}
.content {
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  left: 24%;
}

.line_content{
  position: relative;
  top: -10px;
  right: 330px;
  width: 41px;
}

h2{
  position: relative;
  top: 3px;
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  margin: 0;
  color: #1B1A17;
}

.h3_content {
  margin: 0;
  position: relative;
  font-style: normal;
  font-weight: 400;
  top: 9px;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: #1B1A17;
}

p {
  position: relative;
  top: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  width: 350px;
  line-height: 20px;
  color: rgba(27, 26, 23, 0.82);

}

.introduction_btn{
  position: relative;
  top: 50px;
  right: 3px;
  height: 49px;
  width: 157px;
  border: none;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  background-color: #444240;
}

.introduction_btn:hover,
.introduction_btn:active,
.introduction_btn:focus{
  cursor: pointer;
}

.image_block {
  position: absolute;
  top: 54px;
  right: 238px;
  color: #1B1A17;
}

.introduction_watch {
  position: relative;
  left: 321px;
  top: 2px;
  z-index: -1;
}

.introduction_decorator {
  position: relative;
  right: 290px;
  z-index: -2;
  top: -20px;
}

.cost {
  position: absolute;
  top: 111px;
  left: 303px;
  font-family: 'Prata', serif;
  font-size: 13px;
  color: #1B1A17;
}

.line_cost{
  position: relative;
  top: -4px;
  left: 13px;
  width: 41px;
}

.diametr {
  position: relative;
  top: -142px;
  left: 745px;
  font-family: 'Prata', serif;
  font-size: 13px;
}

.line_diametr{
  position: relative;
  top: -5px;
  right: 155px;
  width: 41px;
}

/* ===================== end of introduction  ===================== */

.popular {
  position: absolute;
  top: 705px;
  height: 530px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.model {
  height: 400px;
}

.more{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  top: 67px;
  left: 75%;
  text-decoration: none;
  color: #444240;
}

.line_more {
  position: relative;
  top: 10px;
  left: -82px;
  width: 80px;
}

.h3_popular {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Playfair Display', serif;
  font-size: 27px;
  color: #1B1A17;
}

.models_list {
  position: absolute;
  top: 141px;
  left: 251px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}


h5 {
  font-size: 11px;
  margin-top: 0;
  font-weight: 900;
  margin-bottom: -22px;
}

.note{
  position: relative;
  top: -230px;
  left: -220px;
}

.line_note{
  position: relative;
  top: -4px;
  left: -108px;
  width: 26px;
  z-index: -1;
}

.ellipse_watch {
  z-index: -2;
  position: relative;
  top: -268px;
  left: -38px;
}

/* ===================== end of popular       ===================== */

.quality {
  position: relative;
  top: 1240px;
  height: 600px;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.picture_switcer {
  position: relative;
  top: 10px;
  left: 0;
}

.quality_decorator {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.picture_01{
  position: relative;
  bottom: -392px;
  left: 42%;
}

.quality_watch {
  position: absolute;
  left: 300px;
  top: 37px;
}

.quality_content {
  position: relative;
  left: 815px;
  top: 150px;
  width: 500px;
}

.h3_quality_content{
  position: absolute;
  top: -78px;
  left: 136px;
  transform: translateX(-50%);
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  color: #1B1A17;
}

.p_quality_content{
  position: relative;
  top: 1px;
  left: 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #444240;
}

.quality_btn {
  position: relative;
  top: 18px;
  left: 16px;
  background-color: #D4B098;
  color: #ffffff;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  border: none;
  height: 49px;
  width: 157px;

}

.big_decorator {
  position: absolute;
  right: 12px;
  bottom: 111px;
  width: 175px;
  height: 177px;
}

.little_decorator {
  position: absolute;
  right: -3px;
  top: -160px;
  width: 200px;
  height: 400px;
}

/* ===================== end of quality        ===================== */

.contacts {
  position: absolute;
  top: 1700px;
  height: 550px;
  right: 0;
  left: 0;
  margin: 0;

}

.contacts_text {
  position: absolute;
  top: 35%;
  left: 295px;
  transform: translateY(-50%);
  width: 500px;
}

.h3_contacts{
  font-family: 'Playfair Display', serif;
  font-size: 25px;
}

.p_contacts{
  position: relative;
  top: -4px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #444240;;
}

.contacts_links_images {
  position: absolute;
  bottom: 186px;
  left: 283px;
  width: 129px;
}

a {
  margin-right: 15px;
}

.contacts_images {
  position: absolute;
  right: 202px;
  top: 48%;
  transform: translateY(-50%);
}

img {
  margin: 3px;
}

.top_left {
  position: relative;
  top: -224px;
  right: -143px;
  width: 202px;
  height: 183px;
}

.bottom_left{
  position: relative;
  top: -45px;
  right: 71px;
  width: 202px;
  height: 171px;
}

.right{
  width: 316px;
  height: 362px;
  position: relative;
  top: -45px;
  right: 71px;
}

/* ===================== end of contacts       ===================== */

footer {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  top: 2176px;
  left: 0;
  right: 0;
  background-color: #444240;
  color: white;
  padding: 33px 0 33px 0;
}

.contacts_ul {
  position: relative;
  left: 54px;
  top: -35px;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  line-height: 19px;
}

.about_ul{
  position: relative;
  left: 27px;
  top: 23px;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  line-height: 20px;
}

.for_ul{
  position: relative;
  left: 27px;
  top: 23px;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  line-height: 20px;
}

.pay_del_ul{
  position: relative;
  left: 26px;
  top: 23px;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  line-height: 20px;
}

h4{
  position: relative;
  top: 13px;
  left: -8px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.footer_block {
  position: relative;
  top: 15px;
  left: -24px;
  width: 240px;
}

.company_name{
  position: relative;
  top: -38px;
  left: -8px;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  color: #ffffff
}

li  {
  position: relative;
  left: -40px;
  list-style: none;
}

a {
  color: rgb(209, 209, 209);
  outline: none;
  text-decoration: none;
}
